* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --default-padding: 1.5rem;
  --primary-color: steelblue;
}

.input-highlight {
  background-color: #f00f00;
  color: '#333';
  border: 4px solid gold;
}

a {
  font-weight: 300;
}

// .main-menu {
[data-navigation=main-menu] {
  .active-link {
    font-weight: 700;
    // text-decoration: underline;
  }
}


body, input {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

nav.main-menu {
  color: #fff;
  background-color: var(--primary-color);
  padding: var(--default-padding);

  > ul {
    list-style: none;
    
    > li {
      display: inline-block;
    }

    > li a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
    }

    > li + li {
      margin-left: var(--default-padding);
    }

    // > li {
    //   border: 2px solid #333;
    //   padding: 3rem;
    //   height: 300px;
    //   /* width: 200px; */
    //   background-color: red;
    //   display: inline-block;
    // }

    // > li:nth-child(2) {
    //   background-color: plum;
    // }
  
    // > li:last-child {
    //   background-color: greenyellow;
    // }

    // > li + li {
    //   background-color: cyan;
    // }
  }
}

main {
  padding: var(--default-padding);
}